@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

*::selection {
    background-color: #62b99f;
    color: #fff;
}

:root {
    --color-principal: #7cc8b1;
    --font-light: #000;
    --back-first: #fff;
    --back-second: #fafafa;

}

/* BARRA DE NAVEGAÇÃO */

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: var(--back-first);
}

::-webkit-scrollbar-thumb {
    align-items: left;
    width: 6px;
    border-radius: 10px;
    background-color: var(--color-principal);
}

/*END BARRA DE NAVEGAÇÃO*/


/* STICKY NAVBAR */

nav {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 1px;
    padding: 2.8vh 0px;
    background-color: var(--font-light);
    z-index: 10000;
}

.org-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
}


nav .logo img {
    height: 50px;
    width: 60px;
}

nav ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li {
    position: relative;
    display: flex;
    align-items: center;
    list-style: none;
}

nav .header .li .color-button {
    color: var(--color-principal);
}

nav .header li a {
    position: relative;
    margin: 10px 20px;
    border-radius: 1px;
    text-decoration: none;
    font-size: 1.15rem;
    letter-spacing: 0px;
    font-weight: 590;
}

nav .header .li a {
    color: var(--back-first);

    &:hover {
        color: var(--color-principal);
    }
}


/* End - STICKY NAVBAR*/


/* HAMBURGUER */

.hamburguer {
    display: none;
    cursor: pointer;
    top: 10px;
    right: 10%;
    width: 40px;
    height: 40px;
    z-index: 1000;
}

.hamburguer::after {
    content: '';
    position: relative;
    width: 100%;
    height: 4px;
    background-color: var(--back-first);
    z-index: 1000;
    transition: 0.6s ease;
}

.hamburguer::before {
    content: '';
    position: relative;
    width: 100%;
    height: 4px;
    background-color: var(--back-first); 
    z-index: 1000;
    transition: 0.6s ease;
}

#hamburguer:checked~label .hamburguer:after {
    background-color: var(--color-principal);
    margin-left: 0px;
    transform: rotate(-135deg);
    bottom: 11px;
    width: 90%;
}

#hamburguer:checked~label .hamburguer::before {
    background-color: var(--color-principal);
    transform: rotate(135deg);
    margin-top: 12px;
    width: 90%;
}

#hamburguer:checked~label .hamburguer {
    position: fixed;
}

.org {
    display: none;
}


/* MENU */

.menu {
    position: fixed;
    flex-direction: column;
    top: 0;
    right: 0;
    height: 100%;
    width: 70%;
    margin: 0;
    background-color: #e7e7e7a6;
    backdrop-filter: blur(50px);
    padding: 20px;
    list-style: none;
    transition: 0.5s;
}

.menu.active {
    right: -100%;
}

.menu a {
    font-size: 1.2rem;
    color: var(--font-light);
    text-decoration: none;
}

.menu li {
    margin-bottom: 80px;
}

.menu .light-dark {
    display: none;
    position: relative;
}

.menu .light-dark a {
    font-size: 1.4rem;
    border-radius: 1px;
    padding: 6px 12px;
    color: var(--back-first);
    background-color: var(--color-principal);
}

/* END HAMBURGUER */



/* Padrão de Design */

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100vh;
    margin: 0px 0px 30px 0px;
    color: var(--font-light);
}

.org-align {
    position: relative;
    width: 90%;
    height: 100%;
}

.align-center {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    position: relative;
    height: 100%;
}

.container .org-align .align-center span {
    position: relative;
}

/* END Padrão de Design */


/* APRESENTATION-VIEW */

#apresentation-view.container {
    height: 84vh;
}

#apresentation-view .align-center {
    column-gap: 40px;
    row-gap: 40px;

    & span {
        width: 50%;
    }
}

.img-ap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 0.178);

    & img {
        position: relative;
        width: 100%;
    }
}

.infos-align {
    position: relative;
    width: 100%;
}

.infos-align p {
    font-size: 1.1rem;
    font-weight: 300;
    line-height: 30px;
    word-break: normal;
}

/* END APRESENTATION-VIEW */


/* PROJECT-VIEW */

#project-view.container {
    height: 100%;
    padding: 40px 0px;
}

#project-view .org-align {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    & .align-center {
        flex-direction: column;

            & span {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                width: 100%;
                margin-bottom: 60px;

                & div {
                    position: relative;
                    width: 48%;

                    & img {
                        width: 100%;
                        box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 0.178);
                    }
                }
            }
        }
    }

#project-view .align-center span .infos-align {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    & p a {
        display: flex;
        align-items: center;
        font-size: 1.1rem;
        font-weight: 300;
        line-height: 30px;
        color: var(--font-light);
        text-decoration: none;
        transition: 0.4s;

        &.null {
            &:hover {
                color: #da6060;
            }
            &::selection {
                color: #da6060;
            }
            &:focus {
                color: #da6060;
            }
        }

        & ion-icon {
            font-size: 1.4rem;
            margin-left: 10px;
        }

        &:hover {
            color: var(--color-principal);
        }
        &::selection {
            color: var(--color-principal);
        }
        &:focus {
            color: var(--color-principal);
        }
    }
}

/* END PROJECT-VIEW */

#contact-view .org-align {
    display: flex;
    align-items: center;
    justify-content: center;

    & .align-center {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;

        & h1 {
            font-size: 1.8rem;
            font-weight: 550;
        }

        & .infos-align {
            margin: 40px 0px;
            width: auto;

            & p a {
                text-decoration: none;
                color: var(--font-light);
            }
        }

        & p i {
            margin: 20px 10px;
            padding: 10px 11px;
            background-color: var(--color-principal);
            color: var(--back-first);
            box-shadow: -1px 5px 15px 0px var(--color-principal);

            &:hover {
                transform: scale(1.15);
            }
        }
    }
}

.fa-whatsapp {
    font-size: 1.7rem;
}

.fa-envelope {
    font-size: 1.5rem;
}

.fa-linkedin-in {
    font-size: 1.7rem;
}

/* CONTACT-VIEW */



/* END CONTACT-VIEW */



/* FOOTER */

.last {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 7px 0px;
    background-color: #1d1d1d;
    color: rgb(180, 180, 180);
    font-size: 0.8rem;
}

.last div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.last .logo-footer img {
    display: inline;
    position: relative;
    margin-left: 7px;
    width: 50px;
}

.last a {
    color: rgb(180, 180, 180);
}

.last a:hover {
    color: #fff;
}

/* END FOOTER */

@media(max-width: 990px) {

    .bolas>div {
        width: 20px;
        height: 20px;
    }

    nav {
        position: fixed;
        padding: .5vh 0px;
    }

    .header {
        display: none;
    }

    .hamburguer {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .org {
        display: unset;
    }

    .align-center {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    /* APRESENTATION-VIEW*/

    #apresentation-view.container {
        height: 100vh;
    }

    #apresentation-view .align-center {
        column-gap: 40px;
        row-gap: 40px;
    
        & span {
            width: 100%;
        }
    }
    
    .img-ap {
        width: 100%;

    
        & img {
            position: relative;
            width: 100%;
        }
    }

    /* END APRESENTATION-VIEW */

    /* PROJECT-VIEW */

    #project-view .org-align {
        & .align-center {
            height: 100%;
            width: 100%;

                & span {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    row-gap: 20px;

                    & div {
                        width: 100%;
                    }
                }
            }
        }

    /* END PROJECT-VIEW*/
}
